.chat-main
  .main-header
    .main-header__box
      %h2.main-header__box__current-group 
        aaa
      %ul.main-header__box__member-list 
        
        Member:
        
        %li.main-header__box__member-list__member a 
    =link_to 's' do
      .main-header__edit-btn Edit


  .messages

  .form
    %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/3274/messages", :enctype => "multipart/form-data", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input{:name => "authenticity_token", :type => "hidden", :value => "jU+eHGHAwNphlez24DxHOUAdBFrmbQOycb3uQY76ORkusDBSqogV2HHD6QGFHocVRGLz1Fq+Roao89lV1dsS0w=="}/
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
          %input#message_image.input-box__image__file{:name => "message[image]", :type => "file"}
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}

    